# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=cs_advisor

# Database URL for Prisma - for docker
DATABASE_URL=postgresql://postgres:postgrespassword@db:5432/cs_advisor

# API Configuration
VITE_API_BASE_URL=http://localhost:3000/api/v1

# Server Configuration
JWT_SECRET=dfsgfdhdfsfdg
FE_URL=http://localhost:5173
PORT=3000

AI_PROVIDER=gemini
GEMINI_API_KEY=hereee
